<!DOCTYPE html>
<html>
<header>
        <meta charset="UTF-8">
        <title>API文档配置</title>
        <script src="libs/qs.min.js"></script>
        <script src="libs/axios/axios.js"></script>
        <script src="js/common/common.js"></script>
        <script src="js/api/DocumentController.js"></script>
  <link rel="stylesheet" type="text/css" href="libs/layui/css/layui.css" >


 
  <script src="libs/jquery/jquery.js"></script>
</header>
<body>
<ul class="layui-nav" lay-filter="">
  <li class="layui-nav-item"><a href="/doc"><h1 style="font-size:18px;">${systemName}</h1></a></li>
  <li class="layui-nav-item"><a href="/doc">接口文档主页</a></li>
  <li class="layui-nav-item"><a href="/doc/setting">接口文档管理</a></li>
</ul>
<hr>
<div id="app">
  <div class="layui-btn-container" style="padding-top:10px!important;margin-left:10px;">
    <button class="layui-btn layui-btn-sm" id="uploadDocument">上传接口文档</button>
  </div>

  <table lay-filter="tb_documents" style="padding-left:10px;">
    <thead>
      <tr>
        <th lay-data="{field:'title', width:300}">文档标题</th>
        <th lay-data="{field:'version', width:200, sort:true}">版本</th>
        <th lay-data="{field:'lastUpdateTime',sort:true,width:200}">最后更新时间</th>
        <th lay-data="{field:'operation'}">操作</th>
      </tr> 
    </thead>
    <tbody>
      <%for(doc in documents){%>
      <tr>
        <td>${doc.title}</td>
        <td>${doc.version}</td>
        <td>${date(doc.lastUpdateTime),dateFormat="yyyy-MM-dd HH:mm:ss:SSS"}</td>
        <td>
          <button type="button" class="layui-btn" onclick="editFile('${doc.filename}')">编辑</button>
          <button type="button" class="layui-btn" onclick="deleteOriginFileByName('${doc.filename}')">删除</button>
        </td>
      </tr>
      <%}%>
    </tbody>
  </table>
 
  
</div>

<script>

  function editFile(filename){
    var localtion="/doc/editor?docUrl="+host+"/doc/api/document/info/"+filename;
    window.parent.location=localtion;
  }
  var docApi=DocumentController();
  function deleteOriginFileByName(filename){


layer.confirm('确认删除此接口文档?', function(index){
  //do something
  doDeleteOriginFileByName(filename);
  layer.close(index);
});


  }

  function doDeleteOriginFileByName(filename){
  docApi.deleteOriginFile(filename,function(resp){
      var data=resp.data;
       if(data.errorCode==0){
       location.reload()
        alert("删除成功");

       }else{
         alert("删除失败:"+data.description);
       }
  });
  }

</script>
<script src="libs/layui/layui.all.js"></script>
<script>

var table = layui.table;
 
//转换静态表格
table.init('tb_documents', {
  //height: 400, //设置高度
  limit: 999 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
  //支持所有基础参数
}); 
var upload = layui.upload;
   
   //执行实例
   var uploadInst = upload.render({
     elem: '#uploadDocument' //绑定元素
     ,url: host+"/doc/api"+"/document"+"/upload" //上传接口
     ,accept:"file"
     ,done: function(resp){
       if(resp.errorCode==0){
       location.reload()
        alert("上传成功");

       }else{
        alert("上传失败:"+resp.description);
       }
     }
     ,error: function(){
       //请求异常回调
       alert("上传失败");
     }
   });
</script>
</body>

</html>